* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: black;
    color: white;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 10%;
    z-index: 2;
}

header img {
    width: 250px;
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 200px);
}

section {
    background-image: radial-gradient(#5196CA, #566875);
    height: 100vh;
    position: relative;
}

section .list {
    width: 70vw;
    height: 100%;
    margin: auto;
    position: relative;
}

section .item {
    position: absolute;
    inset: 0;
}

section .item .car-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
}

section .item .car-img img {
    width: 100%;
    transform: rotate(-30deg);
}

section .item .content {
    position: absolute;
    right: 100px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    gap: 20px;
}

section .item .content .car-information {
    font-weight: bold;
}

section .item .content h2 {
    font-size: 8em;
    line-height: 1em;
}

section .item .content .descripition {
    color: rgb(245, 245, 245);
    font-size: 12px;
    text-align: right;
    max-width: 400px;
}

section .item .content .info {
    border-radius: 30px;
    height: 35px;
    width: 120px;
    text-transform: uppercase;
    border: 2px solid #000000;
    background-color: #252D33;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

section .arrow {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -25px);
    display: flex;
    justify-content: space-between;
}

section .arrow button:nth-child(1) {
    transform: scale(-1);
}

section .arrow button {
    top: 60%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

section .arrow button img {
    width: 30px;
    margin-top: 4px;
    cursor: pointer;
}

section .arrow button:hover {
    background-color: rgba(189, 99, 15, 0.863);
}

.indicators {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;
}

.indicators .number {
    font-size: 5em;
}

.indicators ul {
    display: flex;
    gap: 10px;
}

.indicators ul li {
    width: 50px;
    height: 5px;
    background-color: #252D33;
    border-radius: 5px;
    transition: 0.5s;
}

.indicators ul .active {
    background-color: white;
}
section{


   & .list{
       
    & .item{
        transform: translateX(100vw);
        transition: 0.5s;
        opacity: 0;

        & .car-img{
            & img{
                transform: rotate(0);
                transition: 0.5s;
                transition-delay: 0.s;

            }
        }
        & .content{
            & .car-information, h2, .descripition, .info{
                transform: translateX(200px);
                transition: 0.7s;
                transition-delay: 0.3s;
                opacity: 0;
            }
            & h2{
                transition-delay: 0.5s;
            }
            & .descripition{
                transition-delay: 0.7s;
            }
            & .info{
                transition-delay: 0.9s;
            }

            

        }
    }


    & .active{
        transform: translateX(0);
        transition: 0.5s;
        opacity: 1;
        & .car-img{
            & img{
                transform: rotate(-20deg);
            }
      
        }

        & .content{
            & .car-information, h2, .descripition, .info{
                transform: translateX(0);
                opacity: 1;
               
         } 
      }
   }
 }

} 
